numpy==2.2.6 ; python_version >= "3.12"
paho-mqtt==2.1.0 ; python_version >= "3.12"
pandas==2.2.3 ; python_version >= "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.12"
python-dotenv==1.1.0 ; python_version >= "3.12"
pytz==2025.2 ; python_version >= "3.12"
six==1.17.0 ; python_version >= "3.12"
tzdata==2025.2 ; python_version >= "3.12"
